<h1> All Spells </h1>
<%place = 0%>
<ul>

  <%@spell_hash.each do |b| %>
    <li>
      
      
      <a href = "/<%=@spell_hash[place]["name"]%>">
       <%=@spell_hash[place]["name"]%> 
      </a>
      <%place = place + 1%>
    </li>
  <%end%>
</ul>
<%@spell_hash[0]%>
  
