<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
  </head>
  <style>
    
  
    body{
    position: absolute;
    
    width: 75%;
    min-height: calc((1vw + 1vh) * 75);
    top: 0%; left: 50%; transform: translate(-50%, 0);
    margin: 2em 0;
    padding: 4em;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    filter: url(#wavy2);
      }

    li {
      font-size: 30px;
      font-family: Snell Roundhand, cursive;
      float: left;
      width: 50%;
      
      
      
    }
    h1 {
      font-family: Brush Script MT, Brush Script Std, cursive;
      font-size: 70px;
      text-align: center;
    }
    p {
      font-size: 30px;
      font-family: Snell Roundhand, cursive;
    }
  </style>
  <body>
  
    <%= yield %>
  </body>
</html>
