<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
  </head>
  <style>
  
    body{
      background-image: url("https://t4.ftcdn.net/jpg/00/92/47/85/360_F_92478590_BbuqPZQDFPOOjIbhQajB3oq2z5cfsVZt.jpg")
      
    
    }
    li {
      font-size: 30px;
      font-family: Snell Roundhand, cursive;
      float: left;
      width: 20%;
    }
    h1 {
      font-family: Brush Script MT, Brush Script Std, cursive;
      font-size: 70px;
      text-align: center;
    }
    p {
      font-size: 30px;
      font-family: Snell Roundhand, cursive;
    }
  </style>
  <body>
  
    <%= yield %>
  </body>
</html>
